td,th {border: 1px solid black;
    padding: 10px;

}

table {
    border-collapse: collapse;
    padding: 10px;

}


/*  COMENTAIRE DANS LE CSS
 */


 td,th {border: 1px solid black;

 }

 table {
    border-collapse: collapse;
 }


 /* tabelaeu simple 
 table table {
    border-collapse: collapse;
 }*/

 td,th {
    border: 1px solid green;
    padding: 10px ;
 }


 label,input {
   display: block;
 }

 /* voici un   explemple de  selecteur */

 input[type="checkbox"],
 input[type="checkbox"] + label,
 input[type="radio"],
 input[type="radio"] + label {
      display: inline;
      margin-top: 15px;
 }


li input,li label {
   display: inline;
}
 